# conda create -n anoma python=3.8.10        # 安装python
# conda activate anoma
# pip install -r requirements.txt -i https://pypi.tuna.tsinghua.edu.cn/simple                    



# 需要先安装torch
torch==2.0.0 
torchvision==0.15.1 
torchaudio==2.0.1 --index-url https://download.pytorch.org/whl/cu118
pytorch_fid==0.3.0        
onnx==1.15.0
gradio==3.16.2                  
albumentations==1.3.0
opencv-contrib-python==4.3.0.36
imageio-ffmpeg==0.4.2
pytorch-lightning==1.5.0
omegaconf==2.1.1
test-tube==0.7.5
streamlit==1.12.1
einops==0.3.0
transformers==4.19.2
webdataset==0.2.5
kornia==0.6
open_clip_torch==2.0.2
invisible-watermark==0.1.5
torchmetrics==0.6.0
timm==0.6.12
addict==2.4.0
yapf==0.32.0
prettytable==3.6.0
safetensors==0.2.7
opencv-python==4.3.0.36
onnxruntime
# polygraphy==0.47.1
nvidia-pyindex
onnx-graphsurgeon
cuda-python


# anomalib自带
myst-parser
nbsphinx
pandoc
sphinx
sphinx_autodoc_typehints
sphinx_book_theme
sphinx-copybutton
sphinx_design
